<p>Resource Monoid algebra law &quot;Left identity&quot; is not respected because the rid can&#39;t be modified without using
bimap.</p>
<p>Resource Group algebra law &quot;Left identity&quot; and &quot;Right identity&quot; is not respected because the rid can&#39;t be modified
without using bimap.</p>
<p>Resource Modnad algebra law &quot;Right identity&quot; is not respected because the rid can&#39;t be modified without using
bimap.</p>
<p>Resource Applicative algebra law &quot;Interchange&quot; is not respected because the rid can&#39;t be modified without using
bimap.</p>
sing
bimap.</p>
<p>Response Applicative algebra law &quot;Interchange&quot; is not respected because the headers can&#39;t be modified without using
bimap.</p>
